body
    height: 100vh
    background: radial-gradient(ellipse at bottom, #5f8bbf 0%, #090A0F 100%)
    overflow: hidden
    margin: 0
    font-family: 'CeraPro', sans-serif
a
    text-decoration: none
    color: $white
input,textarea
    box-sizing: border-box
button
    padding: 0
    border: none
    font: inherit
    color: inherit
    background-color: transparent
    cursor: pointer
