body
    margin: 0
    font-family: 'CeraPro', sans-serif
    +Vscroll
a
    text-decoration: none
    color: $white
input,textarea
    box-sizing: border-box
button
    padding: 0
    border: none
    font: inherit
    color: inherit
    background-color: transparent
    cursor: pointer
