// Переменные
$black: #000
$white: #fff




// Функции
@function createRandomShadow($n) 
	$value: '#{random(2000)}px #{random(2000)}px #FFF'
	@for $i from 2 through $n
		$value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

	@return unquote($value)

$shadows-small: createRandomShadow(700)
$shadows-medium: createRandomShadow(200)
$shadows-big: createRandomShadow(100)


// Миксины
