// Функции
@function createRandomShadow($n) 
	$value: '#{random(2000)}px #{random(2000)}px #FFF'
	@for $i from 2 through $n
		$value: '#{$value} , #{random(2560)}px #{random(2560)}px #FFF'

	@return unquote($value)



// Константы
$black: #000
$white: #fff
$blue: #5f8bbf
$smoke: #aeaeae
$silver: #eee
$yellow: #FDC420
$palladium: #b3b3b3
$gainsbro: #e0e0e0


$shadows-small: createRandomShadow(1200)
$shadows-medium: createRandomShadow(400)
$shadows-big: createRandomShadow(100)





// Миксины
=text-style($font-size:14px,$line-height:normal)
	font-size: $font-size
	line-height: $line-height

=flex($justify-content:flex-start,$align-items:flex-start)
	display: flex
	justify-content: $justify-content
	align-items: $align-items

=Vscroll()
	scrollbar-color: $silver
	scrollbar-width: thin
	&::-webkit-scrollbar
		width: 6px
		appearance: none
		-webkit-appearance: none
	&::-webkit-scrollbar-track
		background: $silver
	&::-webkit-scrollbar-thumb
		background-color: $blue